@namespace EficazFramework.Components
@inherits MudBlazor.MudComponentBase

<div class="@Classname" style="@StyleWithAnimation">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>