::deep .ef-application-button {
    width: 84px;
    height: 84px;
}

::deep .ef-application-button-icon {
    font-size: 2rem !important;
}

::deep .ef-application-button-caption {
    position: absolute;
    bottom: 4px;
    height: 20px;
}
