@namespace EficazFramework.Components
@inherits MudBlazor.MudBaseItemsControl<EficazFramework.Components.NavigatorPage>

<CascadingValue Value="this">
    <div class="@Class" style="@Style">
        @HeaderContent
        @ChildContent
        @FooterContent
    </div>
</CascadingValue>
