/* HTML: <div class="loader"></div> */

#preload {
    height: 100vh;
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    justify-content: center;
    fill: white;
}

.loader {
    height: 4px;
    width: 130px;
    --c: no-repeat linear-gradient(#0060ad 0 0);
    background: var(--c),var(--c),#00223a;
    background-size: 60% 100%;
    animation: l16 3s infinite;
    margin-top: 24px;
}

@keyframes l16 {
    0% {
        background-position: -150% 0,-150% 0
    }

    66% {
        background-position: 250% 0,-150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}
