/*:root {
    --mud-palette-paper: #FAFAFA;
}
*/
html, body {
    height: 100%;
    overflow: hidden;
    background: var(--mud-theme-background-grey);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mud-layout {
    height: 100vh;
    width: 100%;
    position: relative;
}

.content {
    height: calc(100vh - var(--mud-appbar-min-height));
    padding: 24px 24px 24px 24px !important;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--mud-palette-background-grey)
}

.content-mdi {
    height: calc(100vh - 40px);
    padding: 24px 24px 24px 24px !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 !important;
    background-color: var(--mud-palette-background-grey)
}

.content-full {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 24px !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 !important;
    background-color: var(--mud-palette-background-grey)
}

.content-scroll-y-auto {
    overflow-y: auto !important;
}


.content-flex-fit {
    height: 100%;
}

.mud-main-content {
    margin: -8px 0 0 0;
    flex: 1 1 auto;
    padding-top: var(--mud-appbar-min-height);
    height: calc(100% - 40px);
    transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms;
    background-color: var(--mud-palette-background-grey)
}

.container-remove-overflow {
    overflow: unset !important;
}

.mud-container {
    padding-left: 0px;
    padding-right: 0px;
}

.mud-container-mini {
    margin-top: var(--mud-appbar-height);
    overflow-y: auto;
    overflow-x: hidden;
}

vertical-align-middle {
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 8px;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 1px;
}

.d-hidden {
    opacity: 0 !important;
}

.form {
    width: 80%;
    margin: auto;
}

.form-composite {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tab-left {
    justify-content: left !important;
}

.footer {
    width: 100%;
    background-color: #e2e3e5;
    border-top-color: #d6d8db;
    border: 1px solid transparent;
    padding-top: .30rem;
    padding-bottom: .25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
    z-index: 88;
    transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms,width 225ms cubic-bezier(0,0,.2,1) 0ms;
}

.footer-fixed {
    bottom: 0px;
    position: fixed;
}

#blazor-error-ui {
    position: fixed;
    inset: 0;
    z-index: 9998;
    display: none;
    overflow: hidden;
    background-color: var(--mud-palette-background);
    opacity: .9;
    text-align: center;
    font-weight: bold;
    transition: visibility 0s linear 500ms;
    visibility: visible;
    font-size: 18px;
    padding-top: 20px;
}

    #blazor-error-ui button {
        color: var(--mud-palette-text-primary);
        padding: 8px 16px;
        font-size: .875rem;
        min-width: 64px;
        box-sizing: border-box;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-weight: 500;
        line-height: 1;
        border-radius: var(--mud-default-borderradius);
        letter-spacing: .02857em;
        text-transform: uppercase;
        margin: 40px auto !important;
    }

    #blazor-error-ui button:hover {
        background-color: var(--mud-palette-action-default-hover);
    }


    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    @media (max-width: 767.98px) {
        .content {
            height: calc(100vh - 98px);
            margin-top: 56px;
        }

        ::-webkit-scrollbar {
            width: 5px;
        }
    }


    @media (min-width: 600px) {
        .mud-main-content {
            margin: 0;
        }
    }
