.ef-background {
    height: 100vh;
    overflow: auto;
}

.h-100 {
    height: 100%;
}

.h-inherit {
    height: inherit;
}

.w-100 {
    height: 100%;
}

.w-inherit {
    height: inherit;
}
.mud-dialog {
    border-width: thin;
    border: 1px solid var(--mud-palette-primary);
}