.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-trim {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-nowrap {
    white-space: nowrap;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mud-nav-link {
    font-weight: 500;
}

.mud-nav-group > .mud-nav-link > .mud-nav-link-text {
    font-weight: 600;
}
