$animation-durations: 125, 250, 500, 1000, 1250, 1500, 2000;

@each $value in $animation-durations {

    .fadeInLeft-#{$value} {
        opacity: 0;
        animation: fadeInLeft (($value / 1000)+s);
    }

    .fadeInRight-#{$value} {
        opacity: 0;
        animation: fadeInRight (($value / 1000)+s);
    }

    .fadeInUp-#{$value} {
        opacity: 0;
        animation: fadeInUp (($value / 1000)+s);
    }

    .fadeInDown-#{$value} {
        opacity: 0;
        animation: fadeInDown (($value / 1000)+s);
    }

    .transition-all-#{$value} {
        transition: all (($value / 1000)+s);
        transition-timing-function: ease-out;
    }

    .transition-all-#{$value} {
        transition: all (($value / 1000)+s);
        transition-timing-function: ease-out;
    }

    .transition-all-#{$value} {
        transition: all (($value / 1000)+s);
        transition-timing-function: ease-out;
    }

    .transition-delay-#{$value} {
        transition-delay: (($value / 1000)+s);
    }

    .transition-delay-#{$value} {
        transition-delay: (($value / 1000)+s);
    }

}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(+20px);
        -ms-transform: translateX(+20px);
        transform: translateX(+20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(+20px);
        -ms-transform: translateY(+20px);
        transform: translateY(+20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

