.fadeInLeft-500 {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

.fadeInLeft.on-screen {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.fadeInRight {
    opacity: 0;
    -webkit-transform: translateX(+20px);
    -ms-transform: translateX(+20px);
    transform: translateX(+20px);
}

.fadeInRight.on-screen {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.fadeInUp {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.fadeInUp.on-screen {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.fadeInDown {
    opacity: 0;
    -webkit-transform: translateY(+20px);
    -ms-transform: translateY(+20px);
    transform: translateY(+20px);
}

.fadeInDown.on-screen {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

fadeIn {
    opacity:0 px;
    transition: all ease-in 0.25s;
}

fadeIn.on-screen {
    opacity: 1 px;
}


.counter {
    content: '0';
}

.counter.on-screen::after {
    animation: counter66 1s ease-out forwards;
    content: counter(count);
}



.transition-all-250 {
    transition: all 0.25s;
    transition-timing-function: ease-out;
}

.transition-all-500 {
    transition: all 0.5s; 
    transition-timing-function: ease-out;
}

.transition-all-1000 {
    transition: all 1s;
    transition-timing-function: ease-out;
}

.transition-delay-250 {
    transition-delay: 0.25s
}

.transition-delay-500 {
    transition-delay: 0.5s
}