.startmenu {
    min-width: 378px;
}


.startmenu-tabpanels {
    min-width: unset;
    width: 72px;
    height: 72px;
}

 .mdicontainer-tabs-panel {
    overflow-y:auto;
}

.startmenu-buttons {
    width: 96px;
    height: 96px;
}
