@namespace EficazFramework.Layouts
@inherits LayoutComponentBase
@inject EficazFramework.Services.ThemeProvider themeProvider
@inject MudBlazor.IDialogService Dialog

<MudBlazor.MudThemeProvider Theme="@themeProvider.Theme" />
<MudBlazor.MudDialogProvider />
<MudBlazor.MudSnackbarProvider />

<MudBlazor.MudLayout>
    <MudBlazor.MudMainContent Class="content-full" Style="height: auto !important">
        @Body
        <EficazFramework.Templates.Footer Fixed="false" />
    </MudBlazor.MudMainContent>
</MudBlazor.MudLayout>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        @Resources.Strings.Layouts.BlazorError_Development
    </environment>
    <environment include="Development">
        @Resources.Strings.Layouts.BlazorError_Development
    </environment>
    <a href="" class="reload">@Resources.Strings.Layouts.BlazorError_Reload</a>
    <a class="dismiss">🗙</a>
</div>
