@page "/Components/Tests/Draggable"

<MudPaper draggable="true"
         @ondragend="OnDragEnd" @ondragstart="OnDragStart" 
         Elevation="1" 
         Outlined Class="pa-4" 
         Style="@($"position:relative; top: {offsetY}px; left: {offsetX}px;")">
       <div>your content</div>
</MudPaper>

@code 
{
     private double startX, startY, offsetX, offsetY;

     private void OnDragStart(DragEventArgs args) {
         startX = args.ClientX;
         startY = args.ClientY;
 }

     private void OnDragEnd(DragEventArgs args)
     {
        offsetX += args.ClientX - startX;
        if (offsetX < 0) 
            offsetX = 0;
            
        offsetY += args.ClientY - startY;
        if (offsetY < 0) 
            offsetY = 0;
    }
}