@page "/Components/Panels/Mdi"

<div class="d-flex flex-grow-1" style="margin-left:-24px;margin-right:-24px">
    <MdiHost @ref="_mdi" ItemsSource="ApplicationManager.RunningApplications" />

    <GroupPanel Title="Playground">
        <MudToolBar>
            <MudTooltip Text="Start App1">
                <MudFab Color="Color.Primary" Icon="@EficazFramework.Icons.Brands.Eficaz" OnClick="OnFab1Click" />
            </MudTooltip>
        </MudToolBar>
        <MudToolBar>
            <MudTooltip Text="Start App1">
                <MudFab Color="Color.Primary" Icon="@EficazFramework.Icons.Brands.EficazLegacy" OnClick="OnFab2Click" />
            </MudTooltip>
        </MudToolBar>
        <MudToolBar>
            <MudTooltip Text="Start App Per Session (verify the current session)">
                <MudFab Color="Color.Primary" Icon="@MudBlazor.Icons.Custom.Brands.GitHub" OnClick="OnFab3Click" />
            </MudTooltip>
        </MudToolBar>
    </GroupPanel>
</div>
