@page "/Components/Panels/Mdi"

<div class="d-flex flex-grow-1">
    <MdiHost TData="EficazFramework.Application.ApplicationDefinition">

    </MdiHost>
    <GroupPanel Title="Playground">
        <MudToolBar>
            <MudTooltip Text="Start new App">
                <MudFab Color="Color.Primary" Icon="@MudBlazor.Icons.Filled.Add" />
            </MudTooltip>
        </MudToolBar>
    </GroupPanel>
</div>
