::deep .mud-collapse-entered .mud-collapse-wrapper {
    overflow-y: hidden !important;
}

::deep .mud-table-container {
    overflow: visible;
}

::deep .mud-table {
   height: unset !important;
}

::deep .mud-table-cell {
    padding: 4px 24px 2px 16px !important;
}

::deep .ef-expression-table-cell {
    margin: 0 !important;
}

::deep .ef-expression-table-cell-120 {
    min-width: 120px;
}

::deep .ef-expression-table-cell-180 {
    min-width: 180px;
}

::deep .ef-expression-between {
    margin-bottom: 0px !important;
}

::deep .mud-table-cell >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
    margin-bottom: -4px;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-input-control >
        .mud-input-control-input-container >
            div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}


::deep .mud-table-cell >
    .ef-expression-between >
        .mud-picker >
            .mud-input-control >
                .mud-input-control-input-container >
                    div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-picker >
            .mud-input-control {
    padding: 0px !important;
    margin: 0px !important;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-picker >
            .mud-input-control >
                .mud-input-control-input-container >
                    div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-picker >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}

::deep .mud-table-cell >
    .mud-picker >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-select >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}

::deep .mud-table-cell >
    .mud-select >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-checkbox >
        .mud-icon-button {
    padding: 0px !important;
}

::deep .mud-input-control-input-container > .mud-input {
    border-radius: 0px !important;
    background-color: unset !important;
    border: solid 0px var(--mud-palette-lines-default) !important;
    padding: 0px !important;
}

::deep .mud-input-control-input-container > .mud-input > input.mud-input-root {
    padding: 3px 0px 7px 0px !important;
}

::deep .mud-input.mud-input-underline:before {
    border-radius: 0px !important;
}

::deep .mud-input.mud-input-underline:after {
    border-bottom: 2px solid var(--mud-palette-primary);
    border-radius: 0px !important;
}