::deep .mud-table-container {
    overflow: visible;
}

::deep .mud-table-cell {
    padding: 4px 24px 2px 16px !important;
}

::deep .ef-expression-table-cell {
    margin: 0 !important;
}

::deep .ef-expression-table-cell-120 {
    min-width: 120px;
}

::deep .ef-expression-table-cell-180 {
    min-width: 180px;
}

::deep .ef-expression-between {
    margin-bottom: 0px !important;
}

::deep .mud-table-cell >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
    margin-bottom: -4px;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-input-control >
        .mud-input-control-input-container >
            div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}


::deep .mud-table-cell >
    .ef-expression-between >
        .mud-picker >
            .mud-input-control >
                .mud-input-control-input-container >
                    div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-picker >
            .mud-input-control {
    padding: 0px !important;
    margin: 0px !important;
}

::deep .mud-table-cell >
    .ef-expression-between >
        .mud-picker >
            .mud-input-control >
                .mud-input-control-input-container >
                    div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-picker >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}

::deep .mud-table-cell >
    .mud-picker >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-select >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: inherit;
    margin: 0px;
}

::deep .mud-table-cell >
    .mud-select >
        .mud-input-control >
            .mud-input-control-input-container >
                div.mud-input.mud-input-text:before {
    border: 0px;
}

::deep .mud-table-cell >
    .mud-checkbox >
        .mud-icon-button {
    padding: 0px !important;
}
