::deep .ef-dialog {
    align-self: anchor-center;
    justify-self: anchor-center;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

::deep .ef-dialog-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}