<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="Blazor.styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/EficazFramework.Blazor/css/EficazFramework.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@LocalInteractiveWebAssemblyMode" />
</head>

<body style="height: 100vh">
    <div id="preload" style="position: absolute;top: auto;bottom: auto">
        <div style="flex-grow: 1"></div>
        <svg xmlns="http://www.w3.org/2000/svg" id="loaderImg" version="1.1" width="256" height="256" viewBox="0 0 24 24">
            <path d="M1.683 21.858l-0.204 0.255c-0.151-0.12-0.345-0.193-0.555-0.193-0.008 0-0.016 0-0.024 0h0.001c-0.245 0-0.403 0.081-0.411 0.301 0 0.14 0.066 0.191 0.481 0.301 0.328 0.089 0.75 0.183 0.754 0.635s-0.442 0.66-0.825 0.66c-0.004 0-0.010 0-0.015 0-0.331 0-0.628-0.14-0.837-0.364l-0.001-0.001 0.208-0.245c0.16 0.171 0.387 0.278 0.639 0.278 0.002 0 0.004 0 0.006 0v0c0.25 0 0.438-0.117 0.438-0.316s-0.17-0.229-0.479-0.314c-0.532-0.147-0.754-0.268-0.754-0.623 0-0.472 0.399-0.646 0.8-0.646 0.007 0 0.016 0 0.024 0 0.288 0 0.551 0.104 0.755 0.277l-0.001-0.001zM3.377 23.772v-2.145h0.376v2.145zM7.036 21.858l-0.204 0.255c-0.151-0.12-0.345-0.193-0.555-0.193-0.008 0-0.016 0-0.024 0h0.001c-0.245 0-0.405 0.081-0.411 0.301 0 0.14 0.066 0.191 0.481 0.301 0.328 0.089 0.75 0.183 0.754 0.635s-0.442 0.66-0.825 0.66c-0.004 0-0.010 0-0.015 0-0.331 0-0.628-0.14-0.837-0.364l-0.001-0.001 0.208-0.245c0.16 0.171 0.387 0.278 0.639 0.278 0.002 0 0.004 0 0.006 0v0c0.25 0 0.438-0.117 0.438-0.316s-0.17-0.229-0.479-0.314c-0.532-0.147-0.754-0.268-0.754-0.623 0-0.472 0.399-0.646 0.8-0.646 0.007 0 0.016 0 0.024 0 0.288 0 0.551 0.104 0.755 0.277l-0.001-0.001zM9.578 21.939v1.834h-0.376v-1.834h-0.669v-0.312h1.715v0.312zM13.34 23.772h-1.497v-2.145h1.464v0.312h-1.091v0.555h0.972v0.312h-0.972v0.656h1.123zM17.194 23.772h-0.367v-1.467l-0.564 0.82h-0.353l-0.55-0.82v1.467h-0.38v-2.145h0.332l0.772 1.146 0.772-1.146h0.337zM20.471 23.772l-0.168-0.459h-0.953l-0.168 0.459h-0.401l0.837-2.145h0.417l0.837 2.145zM20.192 23.002l-0.365-0.993-0.365 0.993zM23.957 21.858l-0.204 0.255c-0.151-0.12-0.345-0.193-0.555-0.193-0.008 0-0.016 0-0.024 0h0.001c-0.245 0-0.405 0.081-0.411 0.301 0 0.14 0.066 0.191 0.482 0.301 0.328 0.089 0.75 0.183 0.754 0.635s-0.445 0.66-0.828 0.66c-0.004 0-0.008 0-0.012 0-0.331 0-0.628-0.14-0.837-0.364l-0.001-0.001 0.208-0.245c0.159 0.171 0.385 0.278 0.636 0.278 0.002 0 0.004 0 0.007 0h-0.001c0.25 0 0.44-0.117 0.44-0.316s-0.17-0.229-0.479-0.314c-0.532-0.147-0.754-0.268-0.754-0.623 0-0.472 0.399-0.646 0.798-0.646 0.008 0 0.017 0 0.027 0 0.288 0 0.551 0.104 0.755 0.277l-0.001-0.001zM4.439 17.541v0.206h-2.936l0.014 0.062c0.072 0.431 0.442 0.756 0.889 0.756 0.023 0 0.045-0.001 0.067-0.002h-0.003c0.473-0.024 0.911-0.148 1.301-0.35l-0.018 0.008 0.332 0.894c-0.481 0.366-1.090 0.587-1.751 0.587-0.010 0-0.021 0-0.032 0h0.001c-0.021 0.001-0.047 0.001-0.072 0.001-1.233 0-2.232-1-2.232-2.232 0-0.025 0.001-0.051 0.001-0.076v0.004c0-1.281 0.901-2.306 2.269-2.292 1.334-0.012 2.178 0.905 2.168 2.435zM1.512 16.95h1.511c-0.060-0.442-0.247-0.72-0.729-0.72-0.422 0-0.688 0.28-0.781 0.72zM13.019 15.095c0.007 0 0.016 0 0.025 0 0.63 0 1.212 0.202 1.686 0.544l-0.008-0.006-0.346 0.958c-0.352-0.201-0.772-0.323-1.219-0.332h-0.003c-0.617 0-0.993 0.459-0.986 1.146s0.378 1.146 0.995 1.146c0.46-0.011 0.888-0.137 1.26-0.349l-0.013 0.007 0.349 0.94c-0.473 0.354-1.069 0.566-1.715 0.566-0.004 0-0.008 0-0.012 0h0.001c-0.002 0-0.004 0-0.007 0-1.272 0-2.304-1.032-2.304-2.304 0-1.27 1.027-2.3 2.297-2.303h0.001zM19.603 19.58h-1.46v-0.431c-0.359 0.337-0.842 0.547-1.374 0.555h-0.001c-1.1 0-1.866-1.022-1.866-2.303s0.777-2.292 1.885-2.292c0.533 0.007 1.016 0.217 1.377 0.556l-0.001-0.001v-0.442h1.46zM18.143 18.064v-1.334c-0.252-0.256-0.595-0.422-0.977-0.442h-0.004c-0.49 0-0.8 0.436-0.8 1.112s0.289 1.109 0.8 1.112c0.386-0.023 0.73-0.19 0.981-0.447v0zM23.949 19.58h-3.817v-0.828l1.969-2.467h-1.834v-1.055h3.602v0.839l-1.967 2.452h2.047zM9.17 15.219h-2.182v-0.314c0-0.44 0.229-0.605 0.534-0.605 0.318 0.016 0.614 0.092 0.884 0.215l-0.016-0.006v-1.029c-0.386-0.18-0.836-0.291-1.311-0.305h-0.005c-0.885-0.002-1.549 0.534-1.549 1.744v0.298h-0.823v1.013h0.823v3.349h1.462v-3.349h1.724v3.349h1.46v-4.356zM18.143 6.203v2.533l5.807-3.484v-2.533l-1.055 0.633-2.111-1.268v-1.9l-6.336 3.801v5.071l3.695 2.217v1.9l5.807-3.484v-2.535l-4.223 2.535-3.106-1.864v-2.608l2.579-1.547 1.582 0.951-2.639 1.584z" />
        </svg>
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        <div style="flex-grow: 1"></div>
    </div>
    <Routes @rendermode="@LocalInteractiveWebAssemblyMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/EficazFramework.Blazor/js/EficazFramework.js"></script>
</body>

</html>

@code {
    private IComponentRenderMode LocalInteractiveWebAssemblyMode => new InteractiveWebAssemblyRenderMode(false);
}