.ef-expr-between {
    margin-bottom: -6px !important;
}

.mud-table-cell > 
    .ef-expr-between > 
        .mud-input-control > 
            .mud-input-control-input-container > 
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: .875rem;
    margin-top: -14px;
    margin-bottom: -8px;
}

.mud-table-cell > 
    .mud-input-control > 
        .mud-input-control-input-container > 
            div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: .875rem;
    margin-top: -14px;
    margin-bottom: -8px;
}


.mud-table-cell > 
    .ef-expr-between > 
        .mud-picker > 
            .mud-input-control > 
                .mud-input-control-input-container > 
                    div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: .875rem;
    margin-top: -14px;
    margin-bottom: -8px;
}


.mud-table-cell > 
    .mud-picker > 
        .mud-input-control > 
            .mud-input-control-input-container > 
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: .875rem;
    margin-top: -14px;
    margin-bottom: -8px;
}

.mud-table-cell > 
    .mud-select > 
        .mud-input-control > 
            .mud-input-control-input-container > 
                div.mud-input.mud-input-text {
    color: var(--mud-theme-on-surface);
    font-size: .875rem;
    margin-top: -14px;
    margin-bottom: -8px;
}