/*Text Alignment*/
.text-right > 
    .mud-input-control-input-container > 
        .mud-input > 
            input.mud-input-root {
    text-align: right;
}

.text-center > 
    .mud-input-control-input-container > 
        .mud-input > 
            input.mud-input-root {
    text-align: center;
            }

.text-justify > 
    .mud-input-control-input-container > 
        .mud-input > 
            input.mud-input-root {
    text-align: justify;
}

div.text-match div, div.mud-input input {
    text-align: match-parent
}

.text-match > 
    .mud-input > 
        input.mud-input-root, div.mud-input-slot.mud-input-root {
    text-align: match-parent;
}


/*Input Background*/
.mud-input-control-ef > 
    .mud-input-control-input-container > 
        .mud-input {
    border-radius: 4px !important;
    background-color: rgba(var(--mud-palette-primary-rgb),0.55);
    border: solid 1px var(--mud-palette-lines-default) !important;
}

.mud-input-control-ef > 
    .mud-input-control-input-container > 
        .mud-input.mud-input-underline {

    &:before {
        border-bottom: 0px solid var(--mud-palette-primary);
        border-radius: 4px !important;
    }

    &:after {
        border-bottom: 3px solid var(--mud-palette-primary);
        border-radius: 0px 0px 8px 8px !important;
    }

    &.mud-input-error:after {
        border-radius: 4px !important;
    }
}


/*Picker Background*/
.mud-input-control-ef > 
    .mud-input-control >
        .mud-input-control-input-container > 
            .mud-input {
    border-radius: 4px !important;
    background-color: rgba(var(--mud-palette-primary-rgb),0.55);
    border: solid 1px var(--mud-palette-lines-default) !important;
}

.mud-input-control-ef > 
    .mud-input-control >
        .mud-input-control-input-container > 
            .mud-input {

    &:before {
        border-bottom: 0px solid var(--mud-palette-primary);
        border-radius: 4px !important;
    }

    &:after {
        border-bottom: 3px solid var(--mud-palette-primary);
        border-radius: 0px 0px 8px 8px !important;
    }

    &.mud-input-error:after {
        border-radius: 4px !important;
    }
}


/*Cell*/
.edit-mode-cell >
    .mud-input-input-control >
        .mud-input-control-input-container >
            .mud-input-margin-dense >
                input.mud-input-root-margin-dense {
    padding-top: 3px;
    padding-bottom: 3px;
}


/*Input Label*/
.mud-input-control-ef >
    .mud-input-control-input-container >
        .mud-input-label-inputcontrol {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
}
.mud-input-control-ef >
    .mud-input-control >
        .mud-input-control-input-container >
            .mud-input-label-inputcontrol {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
}

/*Input text box*/
.mud-input-control-ef > 
    .mud-input-control-input-container > 
        .mud-input-adorned-start > 
            .mud-input-adornment-start {
    margin-right: 8px;
    margin-inline-end: 0px;
    margin-inline-start: unset;
    margin-left: 8px;
    opacity: 0.5
}

.mud-input-control-ef >
    .mud-input-control-input-container >
        .mud-input-adorned-end >
            .mud-input-adornment-end {
    margin-left: 8px;
    margin-inline-start: 0px;
    margin-inline-end: unset;
    margin-right: 8px;
    opacity: 0.5
}

.mud-input-control-ef > 
    .mud-input-control-input-container > 
        .mud-input > 
            input.mud-input-root {
    padding: 8px !important;
}

.mud-input-control-ef > 
    .mud-input-control-input-container > 
        .mud-input > 
            div.mud-select-input {
    padding: 8px 0px 8px 8px !important
}

.mud-input-control-ef >
    .mud-input-control >
        .mud-input-control-input-container >
            .mud-input {
    padding: 8px !important
}

.mud-input-control-ef >
    .mud-input-control >
        .mud-input-control-input-container >
            .mud-input >
                input.mud-input-root {
    padding: 0px !important;
}

.mud-input-control-ef >
    .mud-input-control-input-container >
        .mud-input-text >
            textarea.mud-input-root {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
