.ef-mdi-host {
    position: relative;
}

.ef-mdi-window {
    position: absolute;
    box-shadow: var(--mud-elevation-3);
    background-color: var(--mud-palette-surface);
    border-radius: 10px;
}

.ef-mdi-window-active {
    box-shadow: var(--mud-elevation-10);
    border-color: var(--mud-palette-primary)
}

.ef-mdi-start-menu {
    border: solid 1px var(--mud-palette-primary);
    border-radius: 10px;
    max-width: 746px;
    height: calc(100vh - 226px);
}

.ef-mdi-start-header {
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--mud-palette-background-grey);
    margin-left: -16px !important;
    margin-top: -16px !important;
    margin-right: -16px !important;
    padding-left: 20px !important;
    padding-top: 8px !important;
    padding-right: 24px !important;
    padding-bottom: 8px !important;
}

.ef-mdi-start-footer {
    border-radius: 0 0 10px 10px;
    background-color: var(--mud-palette-background-grey);
    margin-left: -16px !important;
    margin-bottom: -16px !important;
    margin-right: -16px !important;
    padding-top: 12px !important;
    padding-left: 64px !important;
    padding-bottom: 12px !important;
    padding-right: 24px !important;
}
