.mdicontainer {
    min-width: 378px;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
}


.mdicontainer-tabpanels {
    min-width: unset;
    width: 64px;
    height: 64px;
}

.mdicontainer-panel {
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mdi-application {
    overflow-y: auto;
    overflow-x: auto;
    flex-grow: 1;
    display:flex;
}

.mdi-application-search-bar {
    & .mud-input {
        height: 42px;
    }

    &.mud-input-control {
        background-color: rgba(white,.15);
        margin-bottom: 5px;
        height: 42px;
        border-radius: var(--mud-default-borderradius);

        & .mud-input-root, .mud-icon-default {
            color: #fafafa;
        }
    }

    & .mud-input.mud-input-outlined .mud-input-outlined-border {
        border: none;
        border-radius: var(--mud-default-borderradius);
    }
}
/*.mud-tabs-panels {
    padding: 24px 24px 24px 24px !important;
}
*/
@media (max-width: 600px) {
    .mdicontainer-tabpanels {
        min-width: unset;
        width: 48px;
        height: 48px;
    }
}
