.ef-table-scroll {
    overflow-x: scroll;
}

.ef-table-scroll table td:first-child {
    position: sticky;
    left: 0;
}

.mud-table {
    background-color: var(--mud-palette-background-gray);
    border: 1px solid var(--mud-palette-lines-default);
    height: 0px;
}

.mud-table-head > .mud-table-row > th.mud-table-cell:first-child {
    background-color: var(--mud-palette-primary);
}

.mud-table-head > .mud-table-row > th.mud-table-cell:nth-child(1n+1) {
    background-color: var(--mud-palette-primary);
}


.mud-table-head > .mud-table-row > th.mud-table-cell:last-child {
    background-color: var(--mud-palette-primary);
}

.mud-table-empty-row {
    background-color: unset;
}