#### [EficazFramework.Data](EficazFrameworkData.md 'EficazFramework Data')
### [EficazFramework.Validation.Fluent](EficazFrameworkData.md#EficazFramework_Validation_Fluent 'EficazFramework.Validation.Fluent')
## ValidationResult Class
Lista resultante dos métodos de Validação  
```csharp
public class ValidationResult : EficazFramework.Collections.StringCollection
```

Inheritance [System.Object](https://docs.microsoft.com/en-us/dotnet/api/System.Object 'System.Object') &#129106; [System.Collections.Generic.List&lt;](https://docs.microsoft.com/en-us/dotnet/api/System.Collections.Generic.List-1 'System.Collections.Generic.List`1')[System.String](https://docs.microsoft.com/en-us/dotnet/api/System.String 'System.String')[&gt;](https://docs.microsoft.com/en-us/dotnet/api/System.Collections.Generic.List-1 'System.Collections.Generic.List`1') &#129106; [EficazFramework.Collections.StringCollection](https://docs.microsoft.com/en-us/dotnet/api/EficazFramework.Collections.StringCollection 'EficazFramework.Collections.StringCollection') &#129106; ValidationResult  

| Properties | |
| :--- | :--- |
| [NullInstance](ValidationResult_NullInstance.md 'EficazFramework.Validation.Fluent.ValidationResult.NullInstance') | Obtém a mensagem de validação padrão para instâncias nulas.<br/> |

| Methods | |
| :--- | :--- |
| [GetValidationException(string, Exception)](ValidationResult_GetValidationException(string_Exception).md 'EficazFramework.Validation.Fluent.ValidationResult.GetValidationException(string, System.Exception)') | Obtém a mensagem de validação padrão ao ocorrer alguma exceção durante a validação.<br/> |
