@font-face {
    font-family: 'efcoreicons';
    src: url('../fonts/efcoreicons.eot?43rlp6');
    src: url('../fonts/efcoreicons.eot?43rlp6#iefix') format('embedded-opentype'), url('../fonts/efcoreicons.ttf?43rlp6') format('truetype'), url('../fonts/efcoreicons.woff?43rlp6') format('woff'), url('../fonts/efcoreicons.svg?43rlp6#efcoreicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'efcoreicons' !important;
    /*speak: never;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-brand-eficaz {
    content: "\e900";
}
