/*Text Alignment*/
.text-right > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  text-align: right;
}

.text-center > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  text-align: center;
}

.text-justify > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  text-align: justify;
}

div.text-match div, div.mud-input input {
  text-align: match-parent;
}

.text-match > .mud-input > input.mud-input-root,
div.mud-input-slot.mud-input-root {
  text-align: match-parent;
}

/*Input Background*/
.mud-input-control-ef > .mud-input-control-input-container > .mud-input {
  border-radius: 4px !important;
  background-color: rgba(var(--mud-palette-primary-rgb), 0.55);
  border: solid 1px var(--mud-palette-lines-default) !important;
}

.mud-input-control-ef > .mud-input-control-input-container > .mud-input.mud-input-underline:before {
  border-bottom: 0px solid var(--mud-palette-primary);
  border-radius: 4px !important;
}
.mud-input-control-ef > .mud-input-control-input-container > .mud-input.mud-input-underline:after {
  border-bottom: 3px solid var(--mud-palette-primary);
  border-radius: 0px 0px 8px 8px !important;
}
.mud-input-control-ef > .mud-input-control-input-container > .mud-input.mud-input-underline.mud-input-error:after {
  border-radius: 4px !important;
}

/*Picker Background*/
.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input {
  border-radius: 4px !important;
  background-color: rgba(var(--mud-palette-primary-rgb), 0.55);
  border: solid 1px var(--mud-palette-lines-default) !important;
}

.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input:before {
  border-bottom: 0px solid var(--mud-palette-primary);
  border-radius: 4px !important;
}
.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input:after {
  border-bottom: 3px solid var(--mud-palette-primary);
  border-radius: 0px 0px 8px 8px !important;
}
.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input.mud-input-error:after {
  border-radius: 4px !important;
}

/*Cell*/
.edit-mode-cell > .mud-input-input-control > .mud-input-control-input-container > .mud-input-margin-dense > input.mud-input-root-margin-dense {
  padding-top: 3px;
  padding-bottom: 3px;
}

/*Input Label*/
.mud-input-control-ef > .mud-input-control-input-container > .mud-input-label-inputcontrol {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
}

.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
}

/*Input text box*/
.mud-input-control-ef > .mud-input-control-input-container > .mud-input-adorned-start > .mud-input-adornment-start {
  margin-right: 8px;
  margin-inline-end: 0px;
  margin-inline-start: unset;
  margin-left: 8px;
  opacity: 0.5;
}

.mud-input-control-ef > .mud-input-control-input-container > .mud-input-adorned-end > .mud-input-adornment-end {
  margin-left: 8px;
  margin-inline-start: 0px;
  margin-inline-end: unset;
  margin-right: 8px;
  opacity: 0.5;
}

.mud-input-control-ef > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  padding: 8px !important;
}

.mud-input-control-ef > .mud-input-control-input-container > .mud-input > div.mud-select-input {
  padding: 8px 0px 8px 8px !important;
}

.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input {
  padding: 8px !important;
}

.mud-input-control-ef > .mud-input-control > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  padding: 0px !important;
}

.mud-input-control-ef > .mud-input-control-input-container > .mud-input-text > textarea.mud-input-root {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.ef-mdi-host {
  position: relative;
}

.ef-mdi-window {
  position: absolute;
  box-shadow: var(--mud-elevation-3);
  background-color: var(--mud-palette-background);
  border-radius: 10px;
  overflow: hidden;
}

.ef-mdi-window-maximized {
  position: absolute;
  background-color: var(--mud-palette-background);
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 48px);
}

.ef-mdi-window-active {
  box-shadow: var(--mud-elevation-10);
  border-color: var(--mud-palette-primary);
}

.ef-mdi-window-active-maximized {
  border-color: var(--mud-palette-primary);
}

.ef-mdi-window-host {
  cursor: initial;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ef-mdi-sections-menu {
  border: solid 1px var(--mud-palette-primary);
  border-radius: 10px;
  max-width: calc(100vw - 120px);
  max-height: calc(100vh - 226px);
}

.ef-mdi-sections-current {
  height: 32px;
  display: flex;
  align-items: center !important;
}

.ef-mdi-startmenu {
  border: solid 1px var(--mud-palette-primary);
  border-radius: 10px;
  max-width: 670px;
  max-height: calc(100vh - 226px);
}

.ef-mdi-startmenu-header {
  border-radius: 10px 10px 0 0;
  background-color: var(--mud-palette-background-grey);
  padding: 20px !important;
}

.ef-mdi-startmenu-content {
  flex-grow: 1;
  padding: 0px !important;
  width: 100%;
  overflow: hidden;
}

.ef-mdi-startmenu-footer {
  border-radius: 0 0 10px 10px;
  background-color: var(--mud-palette-background-grey);
  padding: 20px !important;
}

.ef-mdi-buttons-toolbar {
  background-color: unset !important;
  border-radius: 0px;
  border: solid 3px transparent;
  width: 48px;
  height: 48px;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
  border-right: 2px var(--mud-palette-primary) solid;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) .mud-icon-root {
  color: var(--mud-palette-primary);
}

.ef-table-scroll {
  overflow-x: scroll;
}

.ef-table-scroll table td:first-child {
  position: sticky;
  left: 0;
}

.brand {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: var(--mud-theme-on-appbar);
  margin-left: auto;
  margin-right: auto;
}

.brand:hover {
  cursor: pointer;
  background-color: var(--mud-theme-default-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ef-background {
  height: 100vh;
  overflow: auto;
}

.h-100 {
  height: 100%;
}

.h-inherit {
  height: inherit;
}

.w-100 {
  height: 100%;
}

.w-inherit {
  height: inherit;
}

.mud-dialog {
  border-width: thin;
  border: 1px solid var(--mud-palette-primary);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mud-nav-link {
  font-weight: 500;
}

.mud-nav-group > .mud-nav-link > .mud-nav-link-text {
  font-weight: 600;
}

.fadeIn-125 {
  animation: fadeIn 0.125s;
}

.fadeInLeft-125 {
  animation: fadeInLeft 0.125s;
}

.fadeInRight-125 {
  animation: fadeInRight 0.125s;
}

.fadeInUp-125 {
  animation: fadeInUp 0.125s;
}

.fadeInDown-125 {
  animation: fadeInDown 0.125s;
}

.transition-all-125 {
  transition: all 0.125s;
  transition-timing-function: ease-out;
}

.transition-all-125 {
  transition: all 0.125s;
  transition-timing-function: ease-out;
}

.transition-all-125 {
  transition: all 0.125s;
  transition-timing-function: ease-out;
}

.transition-delay-125 {
  transition-delay: 0.125s;
}

.transition-delay-125 {
  transition-delay: 0.125s;
}

.fadeIn-250 {
  animation: fadeIn 0.25s;
}

.fadeInLeft-250 {
  animation: fadeInLeft 0.25s;
}

.fadeInRight-250 {
  animation: fadeInRight 0.25s;
}

.fadeInUp-250 {
  animation: fadeInUp 0.25s;
}

.fadeInDown-250 {
  animation: fadeInDown 0.25s;
}

.transition-all-250 {
  transition: all 0.25s;
  transition-timing-function: ease-out;
}

.transition-all-250 {
  transition: all 0.25s;
  transition-timing-function: ease-out;
}

.transition-all-250 {
  transition: all 0.25s;
  transition-timing-function: ease-out;
}

.transition-delay-250 {
  transition-delay: 0.25s;
}

.transition-delay-250 {
  transition-delay: 0.25s;
}

.fadeIn-500 {
  animation: fadeIn 0.5s;
}

.fadeInLeft-500 {
  animation: fadeInLeft 0.5s;
}

.fadeInRight-500 {
  animation: fadeInRight 0.5s;
}

.fadeInUp-500 {
  animation: fadeInUp 0.5s;
}

.fadeInDown-500 {
  animation: fadeInDown 0.5s;
}

.transition-all-500 {
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.transition-all-500 {
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.transition-all-500 {
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.transition-delay-500 {
  transition-delay: 0.5s;
}

.transition-delay-500 {
  transition-delay: 0.5s;
}

.fadeIn-1000 {
  animation: fadeIn 1s;
}

.fadeInLeft-1000 {
  animation: fadeInLeft 1s;
}

.fadeInRight-1000 {
  animation: fadeInRight 1s;
}

.fadeInUp-1000 {
  animation: fadeInUp 1s;
}

.fadeInDown-1000 {
  animation: fadeInDown 1s;
}

.transition-all-1000 {
  transition: all 1s;
  transition-timing-function: ease-out;
}

.transition-all-1000 {
  transition: all 1s;
  transition-timing-function: ease-out;
}

.transition-all-1000 {
  transition: all 1s;
  transition-timing-function: ease-out;
}

.transition-delay-1000 {
  transition-delay: 1s;
}

.transition-delay-1000 {
  transition-delay: 1s;
}

.fadeIn-1250 {
  animation: fadeIn 1.25s;
}

.fadeInLeft-1250 {
  animation: fadeInLeft 1.25s;
}

.fadeInRight-1250 {
  animation: fadeInRight 1.25s;
}

.fadeInUp-1250 {
  animation: fadeInUp 1.25s;
}

.fadeInDown-1250 {
  animation: fadeInDown 1.25s;
}

.transition-all-1250 {
  transition: all 1.25s;
  transition-timing-function: ease-out;
}

.transition-all-1250 {
  transition: all 1.25s;
  transition-timing-function: ease-out;
}

.transition-all-1250 {
  transition: all 1.25s;
  transition-timing-function: ease-out;
}

.transition-delay-1250 {
  transition-delay: 1.25s;
}

.transition-delay-1250 {
  transition-delay: 1.25s;
}

.fadeIn-1500 {
  animation: fadeIn 1.5s;
}

.fadeInLeft-1500 {
  animation: fadeInLeft 1.5s;
}

.fadeInRight-1500 {
  animation: fadeInRight 1.5s;
}

.fadeInUp-1500 {
  animation: fadeInUp 1.5s;
}

.fadeInDown-1500 {
  animation: fadeInDown 1.5s;
}

.transition-all-1500 {
  transition: all 1.5s;
  transition-timing-function: ease-out;
}

.transition-all-1500 {
  transition: all 1.5s;
  transition-timing-function: ease-out;
}

.transition-all-1500 {
  transition: all 1.5s;
  transition-timing-function: ease-out;
}

.transition-delay-1500 {
  transition-delay: 1.5s;
}

.transition-delay-1500 {
  transition-delay: 1.5s;
}

.fadeIn-2000 {
  animation: fadeIn 2s;
}

.fadeInLeft-2000 {
  animation: fadeInLeft 2s;
}

.fadeInRight-2000 {
  animation: fadeInRight 2s;
}

.fadeInUp-2000 {
  animation: fadeInUp 2s;
}

.fadeInDown-2000 {
  animation: fadeInDown 2s;
}

.transition-all-2000 {
  transition: all 2s;
  transition-timing-function: ease-out;
}

.transition-all-2000 {
  transition: all 2s;
  transition-timing-function: ease-out;
}

.transition-all-2000 {
  transition: all 2s;
  transition-timing-function: ease-out;
}

.transition-delay-2000 {
  transition-delay: 2s;
}

.transition-delay-2000 {
  transition-delay: 2s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*@import 'Templates/Applications';
*/ /*@import 'Templates/StartMenu';*/
@media print {
  * {
    overflow: visible !important;
  }
  .page {
    page-break-after: always;
  }
  .aside, .header,
  .mud-toolbar,
  .mud-appbar,
  .mud-drawer {
    display: none;
  }
  .content {
    margin-top: auto;
    height: auto;
  }
  .footer {
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 0rem 1.25rem 0rem 1.25rem;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Input.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Mdi.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Navigator.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Table.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Icons.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Layout.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Text.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Transitions.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/EfCore.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Print.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;AACD;EAII;;;AAGJ;EAII;;;AAGJ;EAII;;;AAGJ;EACI;;;AAGJ;AAAA;EAGI;;;AAIJ;AACA;EAGI;EACA;EACA;;;AAOA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;;;AAKR;AACA;EAII;EACA;EACA;;;AAQA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;;;AAKR;AACA;EAKI;EACA;;;AAIJ;AACA;EAGI;EACA;EACA;;;AAEJ;EAII;EACA;EACA;;;AAGJ;AACA;EAII;EACA;EACA;EACA;EACA;;;AAGJ;EAII;EACA;EACA;EACA;EACA;;;AAGJ;EAII;;;AAGJ;EAII;;;AAGJ;EAII;;;AAGJ;EAKI;;;AAGJ;EAII;EACA;;;AClLH;EACG;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAIJ;EACI;EACA;EACA;EACA;;;AAKJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAKJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAIJ;EACI;EACA;EACA;EACA;EACA;;;ACvFH;EACG;;;AAIJ;EACI;;;ACNH;EACG;;;AAGJ;EACI;EACA;;;ACNH;EACG;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;ACbH;EACG;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAEJ;EACI;EACA;;;ACtBH;EACG;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AC7BA;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAxCJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAxCJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAxCJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAxCJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAxCJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAxCJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;AAKR;EACI;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;;AAIR;EACI;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;;AAIR;EACI;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;;AAIR;EACI;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AC7GR;AAAA,GACE;ACXD;EACG;IACI;;EAGJ;IACI;;EAGJ;AAAA;AAAA;AAAA;IAII;;EAGJ;IACI;IACA;;EAGJ;IACI;IACA;IACA;IACA;IACA;IACA%22%7D */