.text-right > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  text-align: right;
}

.text-center > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  text-align: center;
}

.text-justify > .mud-input-control-input-container > .mud-input > input.mud-input-root {
  text-align: justify;
}

div.text-match div, div.mud-input input {
  text-align: match-parent;
}

.text-match > .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root {
  text-align: match-parent;
}

/*@import 'Components/MDIContainer';
*/
.mud-nav-link.active:not(.mud-nav-link-disabled) {
  border-right: 2px var(--mud-palette-primary) solid;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) .mud-icon-root {
  color: var(--mud-palette-primary);
}

.navitem_main {
  display: flex;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
}

@keyframes navitem_entrance_keyframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navitem_animate {
  animation: 0.25s ease-in navitem_entrance_keyframe;
}

.ef-table-scroll {
  overflow-x: scroll;
}

.ef-table-scroll table td:first-child {
  position: sticky;
  left: 0;
}

.brand {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: var(--mud-theme-on-appbar);
  margin-left: auto;
  margin-right: auto;
}

.brand:hover {
  cursor: pointer;
  background-color: var(--mud-theme-default-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ef-paper {
  background-color: var(--mud-palette-background-grey);
}

.ef-vh-fit {
  height: 100vh;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fadeInLeft-500 {
  opacity: 0;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

.fadeInLeft.on-screen {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.fadeInRight {
  opacity: 0;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.fadeInRight.on-screen {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.fadeInUp.on-screen {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.fadeInDown {
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

.fadeInDown.on-screen {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

fadeIn {
  opacity: 0 px;
  transition: all ease-in 0.25s;
}

fadeIn.on-screen {
  opacity: 1 px;
}

.counter {
  content: "0";
}

.counter.on-screen::after {
  animation: counter66 1s ease-out forwards;
  content: counter(count);
}

.transition-all-250 {
  transition: all 0.25s;
  transition-timing-function: ease-out;
}

.transition-all-500 {
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.transition-all-1000 {
  transition: all 1s;
  transition-timing-function: ease-out;
}

.transition-delay-250 {
  transition-delay: 0.25s;
}

.transition-delay-500 {
  transition-delay: 0.5s;
}

/*@import 'Templates/Applications';
*/
/*@import 'Templates/StartMenu';*/
@media print {
  * {
    overflow: visible !important;
  }

  .page {
    page-break-after: always;
  }

  .aside, .header,
.mud-toolbar,
.mud-appbar,
.mud-drawer {
    display: none;
  }

  .content {
    margin-top: auto;
    height: auto;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 0rem 1.25rem 0rem 1.25rem;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Input.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/EfCore.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Navigator.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/Components/Table.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Icons.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Layout.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Text.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Transitions.scss%22,%22file:///E:/Henrique%2520Clausing/Repositorios/Current/EficazFramework/src/Web/EficazFramework.Blazor/Styles/General/Print.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;EACG;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AChBJ;AAAA;ACDC;EACG;;;AAIJ;EACI;;;AAGJ;EACI;EACA;AAAwB;EACxB;AAAgC;;;AAGpC;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;;;AC1BH;EACG;;;AAGJ;EACI;EACA;;;ACNH;EACG;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;ACbH;EACG;;;AAGJ;EACI;;;ACLH;EACG;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;ACzBH;EACG;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAIJ;EACI;;;AAGJ;EACI;EACA;;;AAKJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;;;ANvFJ;AAAA;AACE;AOXD;EACG;IACI;;;EAGJ;IACI;;;EAGJ;AAAA;AAAA;AAAA;IAII;;;EAGJ;IACI;IACA;;;EAGJ;IACI;IACA;IACA;IACA;IACA;IACA%22%7D */