<h3>AnotherCoolApp</h3>

<div class="d-flex flex-column align-center">
    <MudRating SelectedValue="2" Size="Size.Small" />
    <MudRating SelectedValue="2" Size="Size.Medium" />
    <MudRating SelectedValue="1" Size="Size.Large" />
    <MudRating SelectedValue="2" Size="Size.Large" />
    <MudRating SelectedValue="3" Size="Size.Large" />
    <MudRating SelectedValue="4" Size="Size.Large" />
    <MudRating SelectedValue="5" Size="Size.Large" />
    <MudRating SelectedValue="2" Size="Size.Small" />
    <MudRating SelectedValue="2" Size="Size.Medium" />
    <MudRating SelectedValue="1" Size="Size.Large" />
    <MudRating SelectedValue="2" Size="Size.Large" />
    <MudRating SelectedValue="3" Size="Size.Large" />
    <MudRating SelectedValue="4" Size="Size.Large" />
    <MudRating SelectedValue="5" Size="Size.Large" />
    <MudRating SelectedValue="2" Size="Size.Small" />
    <MudRating SelectedValue="2" Size="Size.Medium" />
    <MudRating SelectedValue="1" Size="Size.Large" />
    <MudRating SelectedValue="2" Size="Size.Large" />
    <MudRating SelectedValue="3" Size="Size.Large" />
    <MudRating SelectedValue="4" Size="Size.Large" />
    <MudRating SelectedValue="5" Size="Size.Large" />
</div>

@code {
    [CascadingParameter] MdiWindow? MdiWindow { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
            MdiWindow?.OverrideFrameParameters(CustomHeader(), true);
    }

    private RenderFragment CustomHeader()
    {
        return 
    @<div class="text-center flex-grow-1 mt-1 mud-typography mud-typography-caption"
          style="position: absolute; left:25%; right: 25%;background-color:red"
          @onpointerdown:stopPropagation>Header Override</div>;
    }

}