<div class="d-flex align-center justify-center">
    <MudItem>
        <MudPaper Outlined Class="pa-2 d-flex flex-column" Style="background-color: var(--mud-palette-surface)">
            <MudPaper Elevation="0" Class="justify-center align-center relative" Style="background-color: var(--mud-palette-background-grey)">
                <MudIcon Icon="@EficazFramework.Icons.Brands.Eficaz" Class="ma-4" Style="width: 96px; height: 96px" />
            </MudPaper>
            <h6 class="mud-typography mud-typography-subtitle2 mud-inherit-text mt-1" style="font-weight: 600">Logo</h6>
        </MudPaper>
    </MudItem>
</div>